<div class="area">
    <div class="content">
        <p class="text-1">Para kandidat diharapkan mengirimkan lamaran dengan batas akhir <span style="color: red">30 Juli 2020.</span></p>
        <p class="text-2"><span style="font-style: normal">PENGUMUMAN</span> akan dilakukan <span style="color: #0000A0">satu minggu kemudian.</span></p>
    </div>
</div>