<div class="row mt-5">
  <div id="boxx">
        <div id="box1" class="column">
          <h4 class="text-center mt-5">Free</h4>
          <p class="text-center">$0/month <br/> Community Support</p>
        </div>
        <div id="box2" class="column">
          <h5 class="text-center mt-4">Most popular!</h5>
          <h4 class="text-center">Professional</h4>
          <p class="text-center">$80/month for <b>Freelancers</b><br/> Email adn Chat support</p>
        </div>
        <div class="column">
          <h4 class="text-center mt-5">Team</h4>
          <p class="text-center">Talk to us<br/> Toilored to you needs</p>
        </div>
    </div>
</div>