<div class="container">
  <div class="row">
    <div class="col-sm-12" >      
      <%= form_with url: search_posts_path, local:true do |form| %>
        <div class="form-inline"> 
          <div class="form-group">
            &nbsp <%= form.text_field :keyword, class: 'form_input form-control', :style => "width:170px", :placeholder => 'Keyword' %>
          </div> &nbsp &nbsp
          <%= form.submit 'Search', :class=>"btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

