<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render partial: "searchmenu" %><br>
      <% if @posts.present? %>
        <table class="table">
          <tr>
            <th>Title</th>
            <th>Author</th>
          </tr>
          <% @posts.each do |post| %>
            <tr>
              <td> <%= post.title %></td>
              <td> <%= post.author %></td>
              <td><%= link_to 'Show', post %></td>
            <tr>
          <% end %>
        </table>
      <% end %>

    </div>
  </div>
</div>
